registry=https://registry.npmmirror.com

sass_binary_site=https://registry.npmmirror.com/node-sass/
phantomjs_cdnurl=https://registry.npmmirror.com/phantomjs
electron_mirror=https://registry.npmmirror.com/electron/
chromedriver_cdnurl=https://registry.npmmirror.com/chromedrive
puppeteer_download_host=https://registry.npmmirror.com
